DJANGO_SETTINGS_MODULE=app.settings.development
SECRET_KEY=django-insecure-lbazip3l63y#j4724p9vkx*3qj*+4rf8k$3vecfza(z7+6tn=-
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
